/*
	========================================
	Dodolan Manuk - Catalog Themes
	========================================
	
	@author			: Afriq Yasin Ramadhan
	@version		: v1.1
	@date-create	: 6/1/2013
	@last-update	: 2/28/2014
	@file-name		: style

*/


/*
	========================================
	TABLE OF CONTENT
	========================================
	
	[1. IMPORT FONTS]
	[2. GLOBAL STYLE]
	[3. NAVBAR]
	[4. SLIDER]
	[5. TAGLINE]
	[6. FEATURED]
	[7. CATALOG]
	[8. TESTOMONIAL]
	[9. BLOG]
	[10. COMMENT]
	[11. BLOG SIDEBAR]
	[12. HEAD SINGLE]
	[13. PAGE CONTENT]
	[14. PAGINATION]
	[15. ITEM SINGLE]
	[16. SIDEBAR ITEM]
	[17. TEAM]
	[18. CONTACT]
	[19. TESTIMONI]
	[20. PRICING]
	[21. FOOTER]
	[22. COPYRIGHT]

*/


/*
	==================
	[1. IMPORT FONTS]
	==================
*/
@import url('font-awesome.css');
@import url('animate.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);


/* 
	==================
	[2. GLOBAL STYLE]
	==================
*/
body{
	background: #fff;
	margin: 0;
	padding:0;
	font: 13px/1.7em 'Open Sans', arial, sans-serif;
    overflow-x: hidden;
}

a{
	color: #1ABC9C;
}

a:hover{
	color: #16A085;
}

.padd20-top-btm{
	padding: 20px 0;
}

::-moz-selection { 
	background: #1ABC9C; 
	color: #fff; 
	text-shadow: none; 
}

::selection { 
	background: #1ABC9C; 
	color: #fff; 
	text-shadow: none; 
}

.breadcrumb {
	text-align: left !important;
}

.form-actions{
	border-top: none;
	background: #eaeaea;
}

.btn.btn-green {
    background-color: #1ABC9C; 
    border-color: #1ABC9C;
    color: #ffffff;
}

.btn.btn-green:hover, .btn.btn-green:focus {
    background-color: #16A085; 
    border-color: #16A085;
}
    
.btn.btn-green:active, .btn.btn-green.active {
    background-color: #16A085; 
    border-color: #16A085;
}

.btn.btn-primary {
    background-color: #2980b9; 
    border-color: #2980b9;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: #3498DB; 
    border-color: #3498DB;
}
    
.btn.btn-primary:active, .btn.btn-primary.active {
    background-color: #3498DB; 
    border-color: #3498DB;
}

.btn.btn-info {
    background-color: #3498db;
    border-color: #3498db;
}
    
.btn.btn-info:hover, .btn.btn-info:focus {
    background-color: #5dade2;
    border-color: #5dade2;
}
    
.btn.btn-info:active, .btn.btn-info.active {
    background-color: #2383c4; 
    border-color: #2383c4;
}

.btn.btn-danger {
    background-color: #e74c3c;
    border-color: #e74c3c; 
}

.btn.btn-danger:hover, .btn.btn-danger:focus {
    background-color: #ec7063; 
    border-color: #ec7063;
}

.btn.btn-danger:active, .btn.btn-danger.active {
    background-color: #dc2d1b; 
    border-color: #dc2d1b;
}

.btn.btn-success {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.btn.btn-success:hover, .btn.btn-success:focus {
    background-color: #55d98d;
    border-color: #55d98d;
}
   
.btn.btn-success:active, .btn.btn-success.active {
    background-color: #27ad60; 
    border-color: #27ad60;
}
  
.btn.btn-warning {
    background-color: #f1c40f;
    border-color: #f1c40f;
}
    
.btn.btn-warning:hover, .btn.btn-warning:focus {
    background-color: #f4d03f;
    border-color: #f4d03f;
}

.btn.btn-warning:active, .btn.btn-warning.active {
    background-color: #cea70c;
    border-color: #cea70c;
}

.btn.btn-inverse{
	background-color: #34495e;
    border-color: #34495e;
}

.btn.btn-inverse:hover, .btn.btn-inverse:focus {
    background-color: #4e6d8d;
    border-color: #4e6d8d;
}

.btn.btn-inverse:active, .btn.btn-inverse.active{
	background-color: #4e6d8d;
    border-color: #4e6d8d;
}

input,
button,
select,
textarea {
	font-family: 'Open Sans', sans-serif;
}

select{
	margin-bottom: 10px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #ccc;
	background: rgba(255, 255, 255, 0.7);
	outline: 0;
	outline: thin dotted \9;
	color: #1ABC9C;
	-webkit-box-shadow: none;
	 -moz-box-shadow: none;
		  box-shadow: none;
}

blockquote {
	padding: 35px 40px;
	margin: 0 0 20px;
	border-left: 5px solid #1ABC9C;
	background: #eaeaea;
	font-size: 18px;
	color: #666666;
}


/*
	==============
	[3. NAVBAR]
	==============
*/
.navbar{
	border-bottom: 5px solid #1ABC9C;
	margin-bottom: 0;
	min-height: 65px;
}

.navbar.navbar-default{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: #ffffff;
}

.navbar-default .navbar-link:hover,
.navbar-default .navbar-link:focus {
	color: #e74c3c;
}

.navbar-default .navbar-brand{
	padding: 22px 15px;
	-o-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active{
	color: #1ABC9C;
	-o-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

.navbar #brand,
.navbar-default #brand{
	position: absolute;
	left: 50%;
	margin: -60px auto 0 -90px;
	width: 180px;
	height: 180px;
	border-bottom: 5px solid #1ABC9C;
	border-radius: 100%;
	background: #ffffff;
	z-index: -2;
}

.navbar .logo,
.navbar-default .logo{
	position: fixed;
	left: 50%;
	min-width: 120px;
	max-width: 120px;
	min-height: 120px;
	max-height: 120px;
	margin: 0 auto 0 -55px;
	background: transparent;
	-o-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.navbar .logo img,
.navbar-default .logo img{
	min-width: 105px;
	max-width: 105px;
	min-height: 105px;
	max-height: 105px;
	-o-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.navbar-default .nav-left > li:nth-child(5n + 0){
	display: none;
}

.navbar-default .nav-left{
	float: left;
}

.navbar-default .nav-right{
	margin-left: 170px;
	float: right;
}

.navbar-default .navbar-nav > li > a {
	float: none;
	padding: 10px 17px;
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: 600;
	color: #666666;
	text-decoration: none;
	text-shadow: none;
	transition: color 0.1s ease-in-out;
	-o-transition: color 0.1s ease-in-out;
	-moz-transition: color 0.1s ease-in-out;
	-webkit-transition: color 0.1s ease-in-out;
	font-size: 14px;
	position: relative;
}

.navbar-default .navbar-nav {
	padding-left: 0;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color: #1ABC9C;
	text-decoration: none;
	background-color: transparent;
	transition: color 0.1s ease-in-out;
	-o-transition: color 0.1s ease-in-out;
	-moz-transition: color 0.1s ease-in-out;
	-webkit-transition: color 0.1s ease-in-out;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	text-decoration: none;
	background-color: #1ABC9C;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar-default .navbar-nav li.dropdown.open > .dropdown-toggle,
.navbar-default .navbar-nav li.dropdown.active > .dropdown-toggle,
.navbar-default .navbar-nav li.dropdown.open.active > .dropdown-toggle {
	color: #ffffff;
	background-color: #1ABC9C;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.navbar-default .navbar-nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-default .navbar-nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-default .navbar-nav li.dropdown.open.active > .dropdown-toggle .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu{
	margin-top: 9px;
}

.dropdown-menu {
	background-color: #ffffff;
	border: 1px solid #666666;
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;
	-o-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

.dropdown-menu  > li > a{
	font-weight: 600;
	color: #666666;
	text-transform: uppercase;
	font-size: 12px;
	position: relative;
}

.dropdown-menu  > li.nav-header{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #ffffff;
	text-decoration: none;
	background: #1ABC9C;
	font-weight: 600;
  
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background: #1ABC9C;
}

.dropdown-menu li{
	position: relative;
}

.dropdown-menu .sub-menu {
    left: 100%;
    margin-left: -1px;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -6px;
    -webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-duration: 0.3s;
	   -moz-animation-duration: 0.3s;
	     -o-animation-duration: 0.3s;
	        animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: block;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.icon-dropdown{
	position: absolute;
	right: 18px;
	margin-top: 2px;
}


/* 
	==================
	[4. SLIDER]
	==================
*/
.pattern{
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/pattern.png) 0 0 repeat;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#home-slider.carousel{
	width: 100%;
	position:relative;
	margin-bottom: 0;
}

#home-slider.carousel .carousel-control {
	width:10%;
}

#home-slider .item {
	padding:80px 0px 30px;
	height:450px;
	overflow:hidden;
	-webkit-background-size:cover !important;
	-moz-background-size:cover !important;
	-o-background-size:cover !important;
	background-size:cover !important;
}

#home-slider .carousel-inner > .item {
	display:none;
	position:relative;
	-webkit-transition:0.6s ease-in-out left;
	transition:0.6s ease-in-out left;
}

#home-slider .carousel-inner > .item > img,#home-slider .carousel-inner > .item > a > img {
	display:block;
	max-width:100%;
	height:auto;
	line-height:1;
}

#home-slider .carousel-inner > .active,#home-slider .carousel-inner > .next,#home-slider .carousel-inner > .prev {
	display:block;
}

#home-slider .carousel-inner > .active {
	left:0;
}

#home-slider .carousel-inner > .next,#home-slider .carousel-inner > .prev {
	position:absolute;
	top:0;
	width:100%;
}

#home-slider .carousel-inner > .next {
	left:100%;
}

#home-slider .carousel-inner > .prev {
	left:-100%;
}

#home-slider .carousel-inner > .next.left, #home-slider .carousel-inner > .prev.right {
	left:0;
}

#home-slider .carousel-inner > .active.left {
	left:-100%;
}

#home-slider .carousel-inner > .active.right {
	left:100%;
}

#home-slider .carousel-control {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:15%;
	opacity:0.5;
	filter:alpha(opacity=50);
	font-size:20px;
	color:#ffffff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,0.6);
}

#home-slider.carousel-fade .carousel-inner .item {
	opacity:0;
	-webkit-transition-property:opacity;
	-moz-transition-property:opacity;
	-o-transition-property:opacity;
	transition-property:opacity;
}

#home-slider.carousel-fade .carousel-inner .active {
	opacity:1;
}

#home-slider.carousel-fade .carousel-inner .active.left,#home-slider.carousel-fade .carousel-inner .active.right {
	left:0;
	opacity:0;
	z-index:1;
}

#home-slider.carousel-fade .carousel-inner .next.left,#home-slider.carousel-fade .carousel-inner .prev.right {
	opacity:1;
}

#home-slider.carousel-fade .carousel-control {
	z-index:2;
}

#home-slider > .carousel-control.left {
	background-image:-webkit-gradient(linear,0% top,100% top,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0.0001)));
	background-image:-webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.5) 0%),color-stop(rgba(0,0,0,0.0001) 100%));
	background-image:-moz-linear-gradient(left,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.0001) 100%);
	background-image:linear-gradient(to right,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.0001) 100%);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=1);
}

#home-slider .carousel-control.right {
	left:auto;
	right:0;
	background-image:-webkit-gradient(linear,0% top,100% top,from(rgba(0,0,0,0.0001)),to(rgba(0,0,0,0.5)));
	background-image:-webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.0001) 0%),color-stop(rgba(0,0,0,0.5) 100%));
	background-image:-moz-linear-gradient(left,rgba(0,0,0,0.0001) 0%,rgba(0,0,0,0.5) 100%);
	background-image:linear-gradient(to right,rgba(0,0,0,0.0001) 0%,rgba(0,0,0,0.5) 100%);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=1);
}

#home-slider .carousel-control:hover,#home-slider .carousel-control:focus {
	color:#ffffff;
	text-decoration:none;
	opacity:0.9;
	filter:alpha(opacity=90);
}

#home-slider .carousel-control .icon-prev,#home-slider .carousel-control .icon-next,#home-slider .carousel-control .glyphicon-chevron-left,#home-slider .carousel-control .glyphicon-chevron-right {
	position:absolute;
	top:50%;
	left:50%;
	z-index:5;
	display:inline-block;
}

#home-slider .carousel-control .icon-prev,#home-slider .carousel-control .icon-next {
	width:20px;
	height:20px;
	margin-top:-10px;
	margin-left:-10px;
	font-family:serif;
}

#home-slider .carousel-control .icon-prev:before {
	content:'\2039';
}

#home-slider .carousel-control .icon-next:before {
	content:'\203a';
}

#home-slider .carousel-indicators {
	position:absolute;
	left:50%;
	z-index:100;
	width:60%;
	margin-left:-30%;
	padding-left:0;
	list-style:none;
	text-align:center;
}

#home-slider .carousel-indicators li {
	display:inline-block;
	width:10px;
	height:10px;
	margin:1px;
	text-indent:-999px;
	border:1px solid #1c222b;
	border-radius:10px;
	cursor:pointer;
}

#home-slider .carousel-indicators .active {
	margin:0;
	width:12px;
	height:12px;
	background-color:#1c222b;
}

#home-slider .carousel-inner .item .carousel-content{
	margin-top: 70px;
	position: relative;
	z-index: 2;
}

#home-slider .carousel-inner .item .carousel-content h2{
	color: #212834;
	margin-top: 0px;
	font-weight: 700;
	font-size: 90px;
	line-height: 95px;
	text-transform: uppercase;
	display: block;
}

#home-slider .carousel-inner .item .carousel-content h3{
	color: #212834;
	margin-top: 0px;
	font-weight: 700;
	font-size: 40px;
	line-height: 44px;
	display: block;
}

#home-slider .carousel-inner .item .carousel-content p{
	font-size: 22px;
	color: #ffffff;
	font-weight: 700;
	text-shadow: 1px 0px #333;
}

#home-slider .carousel-control {
	width:40px;
	color:#fff;
	text-shadow:none;
	opacity:1;
	margin-left:40px;
	margin-right:40px;
}

#home-slider .carousel-control:hover,#home-slider .carousel-control:focus {
	color: #1c222b;
	text-decoration:none;
	opacity:0.9;
	filter:alpha(opacity=90);
}

#home-slider .carousel-control.left,#home-slider .carousel-control.right {
	background-image:none;
	filter:none;
	background:rgba(0,0,0,.2);
	height:80px;
	width:50px;
	margin-top:25%;
	margin-left:0px;
	margin-right:0;
}

#home-slider .carousel:hover .carousel-control.left,#home-slider .carousel:hover .carousel-control.right {
}

#home-slider .carousel-control.left {
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

#home-slider .carousel-control.right {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}

#home-slider .carousel-control i {
	position:absolute;
	top:30px;
	left:0;
	z-index:5;
	display:inline-block;
	width:50px;
	height: 50px;
	margin-left:0px;
}

#home-slider .carousel-indicators.out {
	bottom:-5px;
}

#home-slider .carousel-control.left,#home-slider .carousel-control.right {
	margin-top: 11%;
}


/* 
	==================
	[5. TAGLINE]
	==================
*/
#tagline{
	text-align: center;
	padding: 40px 0;
	width: 100%;
	background: #f5f5f5;
}

#tagline h2{
	font-weight: 600;
	text-transform: uppercase;
	font-size: 24px;
	color: #444444;
}


/* 
	==================
	[6. FEATURED]
	==================
*/
.heading-title{
	display: block;
	padding-bottom: 30px;
}

.heading-title h2{
	font-size: 26px;
	line-height: 30px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	color: #444444;
}

#featured{
	padding: 40px 0;
	width: 100%;
	background: #ffffff;
	text-align: center;
}

#featured .featured-container{
	position: relative;
	text-align: center;
}

#featured .featured-container h3{
	margin-top: 20px;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

#featured .featured-container .featured-photos{
	padding: 35px 0px;
	border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #1ABC9C;
	width: 60%;
	margin: 0 auto;
	position: relative;
}

#featured .featured-container .featured-photos:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 15px solid #1ABC9C;
	border-bottom: 0px solid transparent ;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	left: 50%;
	bottom: -14px;
	margin-left: -20px;
}

#featured .featured-container .featured-photos i{
	color: #ffffff;
	font-size: 68px;
	line-height: 70px;
}


/* 
	==================
	[7. CATALOG]
	==================
*/
#catalogue{
	padding: 40px 0;
	width: 100%;
	background: #f5f5f5;
	text-align: center;
}

#catalogue h3{
	font-size: 16px;
	line-height: 18px;
	text-transform: capitalize;
}

#catalogue .thumbnail{
	position: relative;
	overflow: hidden;
}

#catalogue .thumbnail .caption-img{
	width: 100%;
	height: 280px;
	-o-background-size: cover !important;
	-moz-background-size: cover !important;
	-webkit-background-size: cover !important;
	-ms-background-size: cover !important;
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#catalogue .thumbnail .caption-link{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(26,188,156,0.7);
	opacity: 0;
	filter: alpha(opacity=0);
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#catalogue .thumbnail > a:hover > .caption-link{
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	opacity: 1;
	filter: alpha(opacity=100);
}

#catalogue .thumbnail .caption-link .fa{
	font-size: 54px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	top: 50%;
	margin-top: -20px;
	color: #16A085;
}

.caption-details{
	width: auto;
	height: auto;
}

.caption-details h3{
	font-weight: 600;
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #0d2231;
	text-align: center;
	text-transform: capitalize;
}

.caption-details .price{
	display: block;
	text-align: center;
	background: #1ABC9C;
	padding: 8px 10px;
	color: #ffffff;
	border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 14px;
	font-weight: 700;
}


/* 
	==================
	[8. TESTOMONIAL]
	==================
*/
#testimoni{
	width: 100%;
	background: url(../img/img02.jpg) no-repeat center center transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/s2.html',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/s2.png',sizingMethod='scale')";
	background-size:cover !important;
	-webkit-background-size:cover !important;
	-moz-background-size:cover !important;
	-ms-background-size:cover !important;
	-o-background-size:cover !important;
	_background-size:cover;
	*background-size:cover;
	padding: 80px 0;
	text-align: center;
}

#testimoni .testimoni-icon i {
	font-size: 22px;
	width: 55px;
	height: 55px;
	color: #ffffff;
	display: inline-block;
	padding: 17px;
	background: #1ABC9C;
	border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
	-o-box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
	-webkit-box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
	-moz-box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
}

#testimoni h3 {
	font-size: 26px;
	line-height: 30px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	letter-spacing: -1px;
	margin: 15px 0;
}

#testimoni .carousel-control {
	height: 36px;
	width: 36px;
	margin-top: 0;
	font-size: 26px;
	line-height:24px;
	text-shadow: none;
	background: #1ABC9C;
	padding: 1px 2px 12px;
	border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	font-weight: 300;
	border: 3px solid #ffffff;
	z-index: 3;
	opacity: 0.8;
	filter: alpha(opacity=80);
}


#testimoni .carousel-control:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

#testimoni a.carousel-control.right {
	top: auto;
	bottom: -20px;
}

#testimoni  a.carousel-control.left {
	top: auto;
	bottom: -20px;
}

#testimoni .carousel .item{
	text-shadow: 1px 0px #666;
}

#testimoni .carousel .item .testimoni-item{
	color: #ffffff;
	display: block;
	box-shadow: inset 0px 1px 1px -1px #ffffff, inset 0px -1px 1px -1px #ffffff; 
	-o-box-shadow: inset 0px 1px 1px -1px #ffffff, inset 0px -1px 1px -1px #ffffff; 
	-moz-box-shadow: inset 0px 1px 1px -1px #ffffff, inset 0px -1px 1px -1px #ffffff; 
	-webkit-box-shadow: inset 0px 1px 1px -1px #ffffff, inset 0px -1px 1px -1px #ffffff;
	padding: 40px 0;
	font-size: 14px;
}

#testimoni .carousel .item h4{
	color: #ffffff;
	font-weight: 600;
	font-style: italic;
	font-size: 15px;
	text-transform: capitalize;
}


/* 
	==================
	[9. BLOG]
	==================
*/
#blog{
	padding: 40px 0;
	background: #ffffff;
	width: 100%;
	text-align: center;
}

#blog h2{
	font-size: 26px;
	line-height: 30px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	color: #444444;
}

#blog .blog-container{
	position: relative;
	text-align: center;
}

#blog .blog-container h3{
	margin-top: 20px;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

#blog .blog-container h3 a{
	color: #2C3E50;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}

#blog .blog-container h3 a:hover{
	color: #1ABC9C;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}


#blog .blog-container .blog-date{
	padding: 25px 45px;
	border-radius: 3px;
	background: #1ABC9C;
	max-width: 200px;
	margin: 0 auto;
	position: relative;
}

#blog .blog-container .blog-date:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 15px solid #1ABC9C;
	border-bottom: 0px solid transparent ;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	margin-top: -10px;
	top: 50%;
	left: 0;
	bottom: 0px;
	margin-left: -25px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

#blog .blog-container .blog-date i{
	color: #ffffff;
	font-size: 68px;
	line-height: 70px;
}

#blog .blog-container .blog-date .meta-date{
	display: block;
	text-align: center;
	font-size: 40px;
	line-height: 42px;
	color: #ffffff;
}

#blog .blog-container .blog-date .meta-month-year{
	display: block;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	text-transform: uppercase;
}

.blog{
	padding-bottom: 20px;
}

.blog .blog-post{
	padding-bottom: 40px;
	position: relative;
}

.blog .blog-single{
	padding-bottom: 20px;
	position: relative;
}

.blog h2{
	font-size: 30px;
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	margin-bottom: 30px;
	color: #2C3E50;
}

.blog h2 a{
	color: #2C3E50;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}

.blog h2 a:hover{
	color: #1ABC9C;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}

.blog-meta{
	position: absolute;
	font-size: 11px;
	color: #888888;
	margin-top: -25px;
}

.blog-meta span{
	margin-right: 20px;
}

.blog-meta a{
	color: #888888;
	text-decoration: none;
}

.blog-meta a:hover{
	color: #1ABC9C;
	text-decoration: none;
}

.blog .the-calendar{
	background: #1ABC9C;
	width: 60px;
	height: 63px;
	border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #ffffff;
	text-align: center;
	float: left;
	padding: 5px;
	margin-top: -10px;
	margin-right: 10px;
	position: relative;
}

.blog .the-calendar:before{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 10px;
	border-top: 10px solid transparent ;
	border-bottom: 10px solid transparent ;
	border-right: 10px solid #1ABC9C;
	border-left: 10px solid transparent;
	top: 50%;
	margin-top: -10px;
	left: 0;
	bottom: 0px;
	margin-left: -20px;
}

.blog .the-calendar > .the-date{
	font-size: 12px;
	display: block;
	font-weight: 400;
	line-height: 16px;
	
}

.blog .the-calendar > .the-comments{
	font-size: 12px;
	line-height: 16px;
	display: block;
	font-weight: 400;
	border-top: 1px dotted #ffffff;
	margin: 3px 0;
	padding: 2px 0 0;
	
}

.blog .the-calendar > .the-comments i{
	font-size: 14px;
}

.blog .meta-tags{
	margin: 20px 0 0;
	text-transform: uppercase;
	color: #888888;
}

.meta-tags a{
	color: #888888;
	text-decoration: none;
}

.meta-tags a:hover{
	color: #1ABC9C;
	text-decoration: none;
}


/* 
	==================
	[10. COMMENT]
	==================
*/
.comment{
	margin-top: 0px;
	padding-bottom: 20px;
}

.comment h3{
	font-size: 17px;
	line-height: 19px;
	font-weight: 600;
	color: #555;
	margin: 30px 0;
}

.comment ul.comments{
	list-style-type: none;
	margin-left: 0px;
}

.comment img{
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	opacity: 1;
	filter: Alpha(opacity=100);
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 60px;
	height: 60px;
}

.post-comments{
	border: 1px solid #eaeaea;
    margin-bottom: 20px;
    margin-left: 80px;
	margin-right: 10px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	background: #eaeaea;
	position: relative;
}

.post-comments:before{
	content: "";
	position: absolute;
	left: -20px;
	top: 10px;
	border: 10px;
	border-left: 10px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #eaeaea;
}

.comment .meta {
	font: 12px 'Open Sans', serif;
	color: #666;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px dotted #dddddd;
}

.comment ul.comments ul{
	list-style-type: none;
	margin-left: 80px;
}

.comment label:before{
	clear: both;
}

.comment label{
	margin-top: 15px;
}

.comment .textarea{
	resize: none !important;
	margin-bottom: 15px;
}

.comment .textarea:after{
	clear: both;
}

.coment form{
	margin: 30px 0;
}


/* 
	==================
	[11. BLOG SIDEBAR]
	==================
*/
.blog-sidebar .widget{
	margin-bottom: 30px;
}

.blog-sidebar .widget h3{
	font-size: 18px;
	line-height: 24px;
}

.blog-sidebar .widget ul{
	list-style-type: none;
	margin-left: 3px;
}

.column-posts {
	position: relative;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 10px;
	padding-bottom: 15px;
	padding-left: 0px;
	min-height: 50px;
}

.column-posts .featured-post-img img {
	position: absolute;
	left: 0;
	top: 0;
	width: 55px;
	height: 50px;
	overflow: hidden;
}

.column-posts .featured-post-content{
	margin-left: 65px;
}

.column-posts .featured-post-content h5{
	margin-top: 0;
	margin-bottom: 5px;
	line-height: 18px;
	margin-right: 10px;
	font-weight: 600;
}

.blog-sidebar .widget ul > li > a{
	color: #1ABC9C;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
}

.blog-sidebar .widget ul > li > a:hover{
	color: #16A085;
}

.widget-tags:after{
	content: '';
	clear: both;
	display: table;
}

.widget-tags ul{
	list-style-type: none;
	margin-left: 0;
}

.widget-tags ul > li{
	float: left;
	margin-bottom: 13px;
}

.widget-tags ul > li > a{
	border: 1px solid #16A085;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin-right: 5px;
	padding: 5px 10px;
	font-size: 12px;
	color: #ffffff !important;
	text-decoration: none;
	background: #1ABC9C;
	transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}

.widget-tags ul > li > a:hover{
	border-color: #16A085;
	color: #ffffff !important;
	text-decoration: none;
	background: #16A085;
	transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}


/* 
	==================
	[12. HEAD SINGLE]
	==================
*/
.heads{
	width: 100%;
	padding: 120px 0 50px;
	-webkit-background-size:cover !important;
	-moz-background-size:cover !important;
	-ms-background-size:cover;
	-o-background-size:cover !important;
	_background-size:cover;
	*background-size:cover;
	background-size:cover !important;
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.heads h2{
	font-size: 44px;
	line-height: 48px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 1px 0 #666666;
}

.heads h2 span{
	color: #1ABC9C;
}


/* 
	==================
	[13. PAGE CONTENT]
	==================
*/
.page-content{
	padding: 40px 0;
	width: 100%;
	background: #f5f5f5;
}

.page-content h3{
	font-size: 22px;
	line-height: 26px;
	color: #444444;
	text-transform: uppercase;
	font-weight: 600;
}


/* 
	==================
	[14. PAGINATION]
	==================
*/
.pagination > li > a,
.pagination > li > span {
  color: #aaa;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #16A085;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #1ABC9C;
  border-color: #1ABC9C;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  background-color: #f5f5f5;
}


/* 
	==================
	[15. ITEM SINGLE]
	==================
*/
#itemsingle{
	width: auto;
	padding-bottom: 20px;
}

#itemsingle img{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

#itemsingle .item{
	opacity: 0.2;
	filter: alpha(opacity=20);
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

#itemsingle .active ,
#itemsingle .active {
	opacity: 1;
	filter: alpha(opacity=1);
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

#itemsingle .carousel-indicators {
  position: relative;
  top: 30px;
  right: 0px;
  left: 0px;
  z-index: 5;
  margin: 0;
  list-style: none;
  width: 100%;
}

#itemsingle .carousel-indicators:after,
#itemsingle .carousel-indicators:before{
	content: "";
	clear: both;
	display: table;
}

#itemsingle .carousel-indicators li:hover{
	cursor: pointer;
}

#itemsingle .carousel-indicators li {
  display: block;
  float: left;
  width: 30%;
  height: auto;
  max-height: 80px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 5%;
  margin-bottom: 35px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  opacity: 0.6;
  filter:alpha(opacity=60);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#itemsingle .carousel-indicators li:last-child,
#itemsingle .carousel-indicators li:nth-child(3n) {
	margin-right: 0;
}

#itemsingle .carousel-indicators .active {
  background-color: #fff;
  opacity: 1;
  filter:alpha(opacity=100);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  margin-top: 0;
  margin-right: 5%;
  margin-left: 0;
}

.single-item{
	padding-bottom: 20px;
}

.single-item h3{
	color: #1ABC9C;
}

.single-item h4{
	font-size: 34px;
	line-height: 38px;
	font-weight: 600;
	color: #1ABC9C;
}

.single-item  .nav-tabs {
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  margin-bottom: 0;
}

.single-item  .tab-content {
  border: 1px solid #cccccc;
  padding: 20px;
  border-top: 0;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  background: #ffffff;
}

.single-item  .nav-tabs > li {
  margin-bottom: -1px;
}

.single-item  .nav-tabs > li > a {
  color: #aaa;
  padding: 12px 20px;
  background: #fafafa;
  line-height: 21px;
  border: 1px solid #cccccc;
  border-left: none;
  margin-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
	transition: color 0.3s;
	-o-transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
}

.single-item  .nav-tabs > li > a:hover {
  border-color: #ddd #ddd #ccc;
  background-color: #fff;
  color: #1ABC9C;
}

.single-item  .nav-tabs > .active > a,
.single-item  .nav-tabs > .active > a:hover {
  background-color: #fff;
  border-top-color: #1ABC9C;
  border-bottom-color: transparent;
  border-left: none;
  color: #1ABC9C;
  cursor: default;
}

.product-tabs{
	padding-top: 40px;
}

.single-item h5{
	font-size: 16px;
	text-transform: capitalize;
	text-align: center;
	font-weight: 600;
	line-height: 18px;
	color: #1ABC9C;
}

.single-item .label{
	text-shadow: none;
}

.quick-search{
	padding:10px;
	background: #0d2231;
	color: #efefef;
}

.quick-search h5{
	font-weight: 600;
}


/* 
	==================
	[16. SIDEBAR ITEM]
	==================
*/
.sidebar h3{
	background: #1ABC9C;
	margin-bottom:0;
	text-align: left;
	padding: 0 15px 0;
	color: #fff;
	font-size: 22px;
	line-height: 50px;
	font-weight: 400;
	text-transform: capitalize;
	border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}

.sidebar .nav-pills > li > a{
	-o-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: #0d2231;
	border-bottom: 1px solid #071622;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}

.sidebar .nav-pills > li > a:hover{
	border-color: #071622;
	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
}

.sidebar .nav-pills > .active > a,
.sidebar .nav-pills > .active > a:hover,
.sidebar .nav-pills > .active > a:focus,
.sidebar .nav-pills > .active > a:active{
	background: #071622;
	color: #bbbbbb;
}

.sidebar .nav-pills > li:first-child > a{
	border-top-color: transparent;
}

.sidebar .nav-pills > li:first-child > a,
.sidebar .nav-pills > li:last-child > a{
	border-radius:0;
	-o-border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

.sidebar .nav-pills > li > a:before,
.sidebar .nav-pills > li a:before{
	content: "\f105";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: 0;
	width: 1.2em;
}

.sidebar .nav-stacked > li + li {
  margin-top: 0px;
}


/* 
	==================
	[17. TEAM]
	==================
*/
#theteam .team-container{
	position: relative;
	text-align: center;
}

#theteam .team-container h3{
	margin-top: 20px;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

#theteam .team-container .featured-photos{
	padding: 25px 45px;
	border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #1ABC9C;
	max-width: 200px;
	margin: 0 auto;
	position: relative;
}

#theteam .team-container .featured-photos:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 15px solid #1ABC9C;
	border-bottom: 0px solid transparent ;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	left: 50%;
	bottom: -14px;
	margin-left: -20px;
}


/* 
	==================
	[18. CONTACT]
	==================
*/
.contact input[type="text"],
.contact input[type="email"],
.contact textarea,
.coment input[type="text"],
.coment input[type="email"],
.coment textarea,
.confirm input[type="text"],
.confirm input[type="email"],
.confirm textarea{
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 0px;
	resize: none;
	background: #eaeaea;
	-webkit-box-shadow: 0 0 1px 2px #eaeaea;
     -moz-box-shadow: 0 0 1px 2px #eaeaea; 
          box-shadow: 0 0 1px 2px #eaeaea;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
          margin-bottom: 10px;
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact textarea:focus,
.coment input[type="text"]:focus,
.coment input[type="email"]:focus,
.coment textarea:focus,
.confirm input[type="text"]:focus,
.confirm input[type="email"]:focus,
.confirm textarea:focus{
	color: #1ABC9C;
	-webkit-box-shadow: 0 0 1px 2px #1ABC9C !important; 
     -moz-box-shadow: 0 0 1px 2px #1ABC9C !important;
          box-shadow: 0 0 1px 2px #1ABC9C !important;
	outline: none;
}

.contact textarea,
.coment textarea{
	padding: 10px;
}

.contact input[type="text"],
.contact input[type="email"]{
	height: 46px;
	padding: 10px
}

.confirm input[type="text"],
.confirm input[type="email"]{
	height: 35px;
	padding: 10px;
}

.coment input[type="text"],
.coment input[type="email"]{
	height: 35px;
	padding: 10px;
	margin-right: 5px;
}

#maps{
	width: 100%;
	height: 350px;
	padding: 20px 0;
}

#maps img{
	max-width:none;
}


/* 
	==================
	[19. TESTIMONI]
	==================
*/
.testimoni .thumbnails .thumbnail{
	background: #eaeaea;
	border-color: #ffffff;
}

.testimoni .thumbnails .thumbnail h3{
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 20px;
	color: #2C3E50;
}

.testimoni .thumbnails .thumbnail p:before{
	position: relative; 
    font-size: 20px; 
	content: "\f10d";
	font-family: FontAwesome;
	top: -10px;
	padding-right: 10px;
	color: #1ABC9C;
}

.testimoni .thumbnails .thumbnail p:after{
	position: relative; 
    font-size: 20px; 
	content: "\f10e";
	font-family: FontAwesome;
	bottom: -10px;
	padding-left: 10px;
	color: #1ABC9C;
}


/*
	==================
	[20. PRICING]
	==================
*/
/* NO ZOOM */
.no-zoom ul:hover{
    -webkit-transform: scale(1.0) !important;
    -moz-transform: scale(1.0) !important;
    -o-transform: scale(1.0) !important;
    transform: scale(1.0) !important;
}
/* SHADOW */
.shadow ul:hover{
    -moz-box-shadow:0 0 12px 5px #bbb !important;
    -webkit-box-shadow:0 0 12px 5px #bbb !important;
    -o-box-shadow:0 0 12px 5px #bbb !important;
    box-shadow:0 0 12px 5px #bbb !important;
}
/* POPULAR */
.pricing-table ul.popullar,
.pricing-table.noo-zoom ul:hover > .popullar{
    -webkit-transform: scale(1.1) rotate(0deg) !important;
    -moz-transform: scale(1.1) rotate(0deg) !important;
    -o-transform: scale(1.1) rotate(0deg) !important;
    transform: scale(1.1) rotate(0deg) !important;
}
/* ROTATE */
.rotate ul:hover{
	-o-transform: rotate(-6deg) !important;
	-webkit-transform: rotate(-6deg) !important;
	-moz-transition: rotate(-6deg) !important;
	transform: rotate(-6deg) !important;
	-o-transition: -o-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}

/* BUTTON */
.btn-larges{
	width:70%;
	padding:15px;
	font-size:16px;
}

/* ZOOM {default} */
.pricing-table ul:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    cursor:pointer;
}

.pricing-table ul{
	background:#eaeaea;
    border:1px solid #e8e8e8;
    text-align:center;
    border-radius: 4px 4px 2px 2px;
    -webkit-border-radius: 4px 4px 2px 2px;
    -moz-border-radius: 4px 4px 2px 2px;
    -o-border-radius: 4px 4px 2px 2px;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
	transform: none;
    -webkit-transition:-webkit-transform 0.5s, -webkit-box-shadow 0.3s;
    -moz-transition:-moz-transform 0.5s, -moz-box-shadow 0.3s;
    -o-transition:-o-transform 0.5s, -o-box-shadow 0.3s;
    transition:transform 0.5s, box-shadow 0.3s;
    margin-bottom: 20px;
}

.pricing-table ul > li{
	padding:15px 10px;
    margin:0;
    font-size:13px;
	color: #5c7280;
}

.pricing-table ul > li:nth-child(odd){
	background: #BDC3C7;
}

.pricing-table ul > li.head{
    color:#16A085;
	border: none;
    padding-left:0!important;
    padding-right:0!important;
    height:25px !important;
    text-align:center !important;
	font-size:20px;
	padding-top: 30px;
	position: relative;
	background: transparent;
}

.pricing-table ul > li.head:after{
	content: "";
	width: 50px;
	position: absolute;
	left: 50%;
	height: 2px;
	background: #16A085;
	display: block;
	margin-top: 10px;
	margin-left: -25px;
}

.pricing-table ul > li.price{
    font-size:60px;
    font-weight:normal;
	height:65px;
	padding:60px 0 10px;
    margin-left: 0px !important;
    margin-right: 0px !important;
	color:#5c7280;
	text-align:center;
	margin-bottom: 80px;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

.pricing-table ul:hover > li.price{
	color:#BDC3C7;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

.pricing-table ul > li.price sup{
	position: relative;
	top: -40px;
	left:10px;
	display: inline;
	font-size: 17px;
	line-height: 0.8em;
	color:#5c7280;
}

.pricing-table ul > li.price p{
	font-size: 17px;
	line-height: 0.8em;
	margin-top:30px;
	color:#5c7280;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

.pricing-table ul:hover > li.price p{
	color:#16A085;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

.pricing-table ul > li.foot{
	border:none;
    color:#fff;
    margin:-1px 0 0 0 !important;
    padding:20px 0 !important;
	text-align:center;
}


/* 
	==================
	[21. FOOTER]
	==================
*/
#footer{
	background: #1ABC9C;
	width: 100%;
	padding: 30px 0;
	text-align: center;
	color: #ffffff;
}

#footer h3{
	text-transform: uppercase;
	font-size: 26px;
	line-height: 30px;
	font-weight: 600;
	margin-bottom: 20px;
}

#footer .social-icon{
	display: table;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

#footer .social-icon > li{
	display: inline;
}

#footer .social-icon > li > a{
	width: 60px;
	height: 60px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	background: #16A085;
	position: relative;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	margin: 10px 5px;
}

#footer .social-icon > li > a > span{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-size: 32px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -13px;
	margin-top: -15px;
	color: #222222;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#footer .social-icon > li > a:hover > span{
	color: #ffffff;
}

#footer .social-icon > li > .icon-facebook:hover{
	background: #4467AD;
}

#footer .social-icon > li > .icon-twitter:hover{
	background: #4099FF;
}

#footer .social-icon > li > .icon-youtube:hover,
#footer .social-icon > li > .icon-gplus:hover {
	background: #FF4B4B;
}

#footer .social-icon > li > .icon-linkedin:hover{
	background: #6e99b2;
}

#footer .social-icon > li > .icon-instagram:hover{
	background: #B9C6D0;
}

#footer .sitemap > *{
	margin-left: auto;
	margin-right: auto;
	display: table;
}

#footer .sitemap > ul{
	list-style-type: none;
	padding-left: 0;
	margin-top: 20px;
}

#footer .sitemap > ul > li{
	float: left;
}

#footer .sitemap > ul > li > a{
	text-transform: uppercase;
	padding: 5px 10px;
	font-size: 14px;
	color: #ffffff;
}


/* 
	==================
	[22. COPYRIGHT]
	==================
*/
#copyright{
	background: #16A085;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	color: #ffffff;
}

